*{
    box-sizing: border-box;
}
html{
    font-family: helvetica;
}
#main{
    width: 1140px;
    margin: 0px auto;
}

#left{
    width: 20%;
}

#right span{

    font-size: 29px;
    font-weight: bold;
}
#right input[type=button]{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}




#tr1{
    background: #2F6DC4;
    color: #fff;
    font-size: 97%;
}
.trxam{
    background: #EEEEEE;
}
td:first-child, td:nth-child(7), td:nth-child(8), td:nth-child(9), td:last-child{
    text-align: center;
}
td,th {
    padding: 10px 4px;
}
th{
    border-right:  1px solid #fff;
}
#right ul{
    text-align: center;
}
#right li{
    display: inline;
    margin: 0px 5px;
}